.btn:focus {
	box-shadow: none !important;
}

#google {
	display: block;
	width: 500px;
	margin: 80px auto 0;
	text-align: center;
}

#google a {
	display: block;
	margin-bottom: 20px;
}

#google a img {
	display: inline-block;
}

#google .search {
	display: flex;
	min-height: 50px;
	background-color: #f5f5f5;
	border: 1px solid #c1c4c9;
	border-radius: 26px;
	margin: 0 auto;
}

#google .search input {
	position: relative;
	flex: 1 1 auto;
	background-color: transparent;
	border: none;
	width: 1%;
	min-width: 0;
	padding: 0px 20px;
	color: #000;
}

#google .search input::placeholder {
	color: #72777d;
	opacity: 1;
}

#google .search input:focus,
#google .search input:focus-visible {
	outline: 0;
}

#google .search button {
	background-color: transparent;
	border: none;
	color: #72777d;
	padding: 0 20px;
}

#chat-gpt {
	display: block;
	width: 500px;
	margin: 20px auto 80px;
	text-align: center;
}

#chat-gpt button {
	background-color: #91959d;
	min-height: 50px;
	padding: 0 20px;
	border-radius: 26px;
	border: none;
	color: #f5f5f5;
}

#chat-gpt button:hover {
	background-color: #6d7179;
}

.fas {
	margin-right: 10px;
}

#topList {
	margin-bottom: 10px;
}

.card {
	margin-bottom: 15px;
}

.card-title h5 {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.card-body {
	padding: 0;
	margin: 0;
}

.filter-text {
	margin-left: 5px;
	vertical-align: text-bottom;
}

tr {
	cursor: pointer;
}

td {
	background-color: transparent;
	vertical-align: middle
}

/* Colors */
.row-daily {
	background-color: #cfe2ff;
}

.row-weekly {
	background-color: #f8d7da;
}

.row-monthly {
	background-color: #fff3cd;
}

.row-yearly {
	background-color: #d1e7dd;
}

.row-daily:hover {
	background-color: #bfd1ec;
}

.row-weekly:hover {
	background-color: #e5c7ca;
}

.row-monthly:hover {
	background-color: #ece1be;
}

.row-yearly:hover {
	background-color: #c1d6cc;
}

.dot-daily {
	color: #0d6efd;
}

.dot-weekly {
	color: #dc3545;
}

.dot-monthly {
	color: #ffc107;
}

.dot-yearly {
	color: #198754;
}

/* Columns */
.type-column {
	width: 25px;
}

.type-column i,
.type-column svg {
	margin-right: 0;
	margin: 16px;
}

.title-column {
	width: fit-content;
}

.is-check-column {
	width: 25px;
}

.external-column {
	width: 25px;
}

.external-column i,
.external-column svg {
	margin: 16px;
}

.last-visit {
	font-style: italic;
	font-size: 0.75em;
}

@media(max-width: 576px) {
	.filter .filter-text {
		display: none;
	}
}

@media(max-width: 768px) {
	.filter .fas {
		margin-right: 0;
	}
}