.btn:focus {
    box-shadow: none!important;
}

#google a {
	display: block;
	width: 272px;
	margin: 80px auto;
	text-align: center;
}

#google a img {
	display: inline-block;
}

.fas {
    margin-right: 10px;
}

#topList {
	margin-bottom: 10px;
}

.card {
	margin-bottom: 15px;
}

.card-title h5 {
	margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-body {
	padding: 0;
	margin: 0;
}

.filter-text {
    margin-left: 5px;
    vertical-align: text-bottom;
}

tr {
	cursor: pointer;
}

td {
    background-color: transparent;
	vertical-align: middle
}

/* Colors */
.row-daily {
    background-color: #cfe2ff;
}

.row-weekly {
    background-color: #f8d7da;
}

.row-monthly {
    background-color: #fff3cd;
}

.row-yearly {
    background-color: #d1e7dd;
}

.row-daily:hover {
    background-color: #bfd1ec;
}

.row-weekly:hover {
    background-color: #e5c7ca;
}

.row-monthly:hover {
    background-color: #ece1be;
}

.row-yearly:hover {
    background-color: #c1d6cc;
}

.dot-daily {
    color: #0d6efd;
}

.dot-weekly {
    color: #dc3545;
}

.dot-monthly {
    color: #ffc107;
}

.dot-yearly {
    color: #198754;
}

/* Columns */
.type-column {
	width: 25px;
}

.type-column i,
.type-column svg {
	margin-right: 0;
	margin: 16px;
}

.title-column {
	width: fit-content;
}

.is-check-column {
	width: 25px;
}

.external-column {
	width: 25px;
}

.external-column i,
.external-column svg {
	margin: 16px;
}

.last-visit {
	font-style: italic;
	font-size: 0.75em;
}

@media(max-width: 576px)
{
	.filter .filter-text {
		display: none;
	}
}

@media(max-width: 768px)
{
	.filter .fas {
		margin-right: 0;
	}
}