<div class="container">
	<div class="row">
		<div id="title" class="col-md-12">
			<h1 class="text-center">Quotidian</h1>
		</div>
		<section id="loginForm" class="col-md-4 offset-md-4">
			<div class="card border-primary">
				<div class="card-header bg-primary text-white text-center">
					Connexion
				</div>
				<form class="card-body" [formGroup]="form" (submit)="onSubmit()">
					@if(error) {
					<div class="alert alert-danger">
						{{error}}
					</div>
					}

					<div class="form-group">
						<label for="email">E-mail</label>
						<input class="form-control" type="email" formControlName="email" placeholder="Enter email"
							[ngClass]="{'is-invalid': submitted && form.controls['email'].errors}">

						@if(submitted && form.controls['email'].errors) {
						<div class="invalid-feedback">
							@if(form.controls['email'].errors['required']) {
							<div>E-mail est requis</div>
							}

							@if(form.controls['email'].errors['email']) {
							<div>Le format n'est pas correct</div>
							}
						</div>
						}
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input class="form-control" type="password" formControlName="password" placeholder="Password"
							[ngClass]="{'is-invalid': submitted && form.controls['password'].errors}">

						@if(submitted && form.controls['password'].errors) {
						<div class="invalid-feedback">
							<div>Le mot de passe est requis</div>
						</div>
						}
					</div>

					<div class="form-group form-check">
						<input class="form-check-input" type="checkbox" formControlName="rememberMe" s>
						<label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
					</div>
					<button type="submit" class="btn btn-primary">Se connecter</button>
				</form>
			</div>
		</section>
	</div>
</div>